.post-section {



}

.post-section__title {
  font-weight: bold;
  line-height: 92px;
  letter-spacing: 1.5px;
  padding-top: 12px;
  background: url("../../images-assets/info-star3.png") top no-repeat;
  color: var(--color-contrast-high);
  margin-bottom: var(--space-xs)
}