.main-navigation {
  box-sizing: border-box;
  position: fixed;
  padding-top: 96px;
  top: 0;
  right: 64px;
  width: 300px;
  height: 100vh;
  background-color: #C84A48;
  z-index: 100;

  display: none;
}

.main-header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 0 96px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-background {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.game-section {
  position: relative;
  /*box-sizing: border-box;*/
  background-color: #FBFCFD;
  padding: 64px;
  z-index: 10;
}

.game-section::before, .game-section::after {
  position: absolute;
  display: block;
  content: url("./devider-1.png");

  width: 100%;
}

.game-section::before {
  transform-origin: right bottom;
  transform: rotate(180deg);
}

.game-section::after {
  bottom: -45px;
}

.game-section p {
  margin: 0;
}

.single-game-section {
  position: relative;
  box-sizing: border-box;
  background-color: #DDE2E5;
  padding: 64px;
}